.pokemons-box {
  h1 {
    display: block;
    font-size: 30px;
  }
  .list {
    .content {
      height: 245px;
      overflow-y: scroll;
      button {
        margin: 4px;
        padding: 5px 10px;
        background-color: rgb(45, 133, 42);
        color: #fff;
        border: 1px solid rgb(49, 153, 46);
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in 0s;
        &:hover {
          background-color: #000;
        }
      }
    }
  }
  .details {
    padding: 20px 0px;
    .name {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .base-experience {
      color: red;
    }
    .height {
      color: green;
    }
    .weight {
      color: blue;
    }
    .images {
      list-style-type: none;
      display: flex;
      justify-content: center;
    }
  }
}
